<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="display: block; margin-bottom: 50px; margin-left: auto; margin-right: auto">
    <p style= "text-align: center";>МИНИСТЕРСТВО ОБРАЗОВАНИЯ И НАУКИ РОССИЙСКОЙ ФЕДЕРАЦИИ</p>
    <p style= "text-align: center";>Федеральное государственное бюджетное образовательное учреждение высшего образования</p>
    <p style= "text-align: center";>САМАРСКИЙ ГОСУДАРСТВЕННЫЙ ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ</p>
    <p style= "text-align: center";>Институт автоматики и информационных технологий</p>
    <p style= "text-align: center";>Кафедра «Вычислительная техника»</p>
</div>
<div style="margin-bottom: 15px; margin-top: 100px;"><b><center>Лабораторная работа №1</b></div>

<b><center>ЗНАКОМСТВО С DJANGO</center></b>

<span style="display: block; horizontal-align: right; text-align: right; margin-top: 200px; Б">Выполнил: <br>студент 1-ИАИТ-103М  <br>
Замураев А.В.  <br>
 </span><br>

<div style="display: block; horizontal-align: right; text-align: right; margin-bottom: 100px;">Проверил: <br>
Гавлиевский С.Л.
</div>
    <span><center>Самара 2023 г.</span>
</body>
</html>